@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #D2982D;
    height: 100vh;
    font-family: 'Inter';
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    height:50px;
    padding:0px 20px 0px 20px;
}
.nav-links ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.logo{
    font-size: 22px;
    font-weight: bold;
}
.nav-links ul a {
    text-decoration: none;
    color: white;
}
.active{
    border-bottom: 1px solid white;
}
.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px auto;
}
.heroimg{
    width: 582px;
    height: 384px;
    background-image: url(images/heroimg.png);
}
.hero_container{
    display: flex;
    width: 1350px;
    justify-content: space-around;
    align-items: center;
}

.first_part{
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 225px;
    justify-content: space-between;
}
#title{
    font-size: 65px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 8px;
}
#hero_detail{
    font-size: 20px;
    font-weight: normal;
    color: #403B45;
}
.hero_btns{
    display: flex;
    gap: 10px;
}
.btn{
    padding: 8px 16px;
    width: 175px;
    height: 36px;
    background-color: #F5B747;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    color: #403B45;
}
#btn2{
    background: transparent ;
    border: 2px solid #F5B747;
    color: whitesmoke;
}